body {
  background: #111;
  color: #aaa;
  font-family: "Tahoma";
  font-size: 16px;
  margin: 0;
}

main {
  margin: auto;
  position: relative;
}

button {
  background-color: #0070f3;
  border: none;
  border-radius: 7px;
  box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 45px;
  padding: 0 56px;
  place-self: center;
  transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
  :hover {
    background: rgba(0,118,255,0.9);
    box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
  }
}

.hide {
  display: none !important;
}

.item-not-found {
  color: #f00;
}

.attribute {
  margin: 0.25rem;
  text-align: center;
}

/* dom selectors */

#no-feed-error {
  bottom: 49%;
  color: #555;
  font-size: 2rem;
  position: absolute;
  text-align: center;
  width: 100%;
}

#video {
  max-height: 100%;
  object-fit: cover;
  width: 100%;
}

#price {
  color: #0f0;
}

/* start of grid section */

.feed {
  max-height: 100vh;
  grid-area: feed;
}

.prediction {
  font-size: 2rem;
  grid-area: prediction;
  margin-top: 2rem;
  place-self: start center;
}

.rescan {
  grid-area: rescan;
  margin-bottom: 2rem;
  place-self: center;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  'feed'
  'prediction'
  'rescan';
  gap: 2rem;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.77) and (orientation:landscape) {
  main {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas:
    'feed prediction'
    'feed rescan';
    gap: 0;
  }
}

/* end of grid section */
