body {
  color: #555;
  font-family: "Tahoma";
}

#video-container {
  display: grid;
  height: 50vh;
  width: 100%;
}

#video {
  background: #ccc;
  max-height: 40vh;
  place-self: center;
}

#prediction-container {
  display: grid;
  width: 100%;
}

#prediction {
  font-size: 3.5rem;
  place-self: center;
}

/*
@media screen and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }

  #video-container {
    height: 100vh;
  }
}
*/
